body {
  font-family: "Playfair Display", serif;
  margin: 50px;
  background: linear-gradient(
    122.3deg,
    rgb(111, 71, 133) 14.6%,
    rgb(232, 129, 166) 29.6%,
    rgb(237, 237, 183) 42.1%,
    rgb(244, 166, 215) 56.7%,
    rgb(154, 219, 232) 68.7%,
    rgb(238, 226, 159) 84.8%
  );
}

h1 {
  font-size: 90px;
}
h4 {
  opacity: 80%;
}
p {
  font-size: 20px;
  text-align: center;
}
.footer-infos {
  background: #f8f9fa;
  border-radius: 5px;
  font-size: 15px;
}
.namaste {
  color: blueviolet;
  font-size: 70px;
  padding: 100px;
}
@media (max-width: 576px) {
  h1 {
    font-size: 60px;
    text-align: center;
  }
  #about-me {
    text-align: center;
  }
}
